# Ignore specific folders
dataset/*
preprocessed_dataset/*
images/*
/logs
/virufy
/coughvid
**/__pycache__/
replicas/proyecto_replica_0/data/
replicas/proyecto_replica_0/checkpoints/
/tos_covid_19
/kaggle
/virufy

# Ignore file types
*.pth
*.mp3
*.m4a
*.csv
*.wav
*.npz
*.pth

venv/
env/
.env/
**/site-packages/
*.dylib

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
