# Ignore specific folders
dataset/*
preprocessed_dataset/*
images/*
/logs
/virufy
replicas/proyecto_replica_0/data/tos_covid_19/*
replicas/proyecto_replica_0/data/kaggle/*

# Ignore file types
*.pth
*.mp3
*.csv
*.wav
*.npz
*.pth