# Ignore specific folders
dataset/*
preprocessed_dataset/*
images/*
/logs
/virufy
/tos_covid_19

# Ignore file types
*.pth
*.mp3
*.csv
*.wav
*.npz

# Keep the app folder and its contents
!app/
!app/**